.stori {
  width: 100%;
  height: auto;
  margin: 52px 0 28px;
  &__top_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__title {
    font-size: 42px;
    line-height: 52px;
    color: #292929;
  }
  &__addBtn-one {
    padding: 7px 16px;
    line-height: 24px;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 60rem;
    background: #1a8917;
    transition: all 0.2s ease;

    &:hover {
      background: rgb(15, 115, 12);
    }
  }
  &__addBtn-two {
    padding: 7px 16px;
    line-height: 20px;
    font-size: 15px;
    border: none;
    color: #292929;
    border-radius: 60rem;
    background: transparent;
    transition: all 0.2s ease;
    border: 1px solid #757575;
    margin-left: 10px;

    &:hover {
      border: 1px solid #292929;
    }
  }
  &__categor_btn_box {
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(236, 236, 236);

    button {
      font-size: 15px;
      line-height: 20px;
      color: #757575;
      margin-right: 32px;
      padding-bottom: 16px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #757575;
      margin-bottom: -1px;
      &:hover {
        color: #292929;
        border-bottom: 1px solid #292929;
      }
    }
  }
  &__list_box {
    position: relative;
    width: 100%;
    height: auto;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
  }
  &__item_title {
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    margin-bottom: 10px;
  }
  &__item_desc {
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    margin-bottom: 20px;
  }
  &__item_bottom {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    p {
      font-size: 16px;
      line-height: 20px;
      color: #757575;
      margin-bottom: 20px;

      span {
        margin-left: 5px;
        margin-right: 15px;
      }
    }

    button {
      border: none;
      background: transparent;
      color: #757575;
      font-size: 20px;
      margin-right: 10px;

      i {
        font-size: 25px;
      }
    }
  }
}
