.listcon {
  width: 100%;
  height: auto;
  padding-top: 52px;
  margin-bottom: 28px;
  margin: 0 32px;

  &__top_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__title {
    font-size: 42px;
    line-height: 52px;
    color: #292929;
    // font-weight: 800;
  }
  &__addBtn {
    padding: 7px 20px 9px;
    line-height: 24px;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 60rem;
    background: #1a8917;
    transition: all 0.2s ease;

    &:hover {
      background: rgb(15, 115, 12);
    }
  }
  &__categor_btn_box {
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(236, 236, 236);

    button {
      font-size: 15px;
      line-height: 20px;
      color: #757575;
      margin-right: 32px;
      padding-bottom: 16px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #757575;
      margin-bottom: -1px;
      &:hover {
        color: #292929;
        border-bottom: 1px solid #292929;
      }
    }
  }
  &__list_box {
    position: relative;
    width: 100%;
    height: auto;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    position: relative;
    width: 100%;
    height: 168px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 4px;
    margin-bottom: 40px;
    cursor: pointer;
  }
  &__item_left {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__itemlef_title {
    font-size: 22px;
    line-height: 25px;
    color: #292929;
  }
  &__item_btn_box {
    display: flex;
    align-items: center;
  }
  &__item_btn {
    margin-right: 12px;
    padding: 5px 12px 4px 13px;
    border: none;
    color: #292929;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    border-radius: 99rem;
    border: 1px solid rgb(117, 117, 117);
    transition: all 0.2s ease;

    &:hover {
      border: 1px solid rgba(41, 41, 41, 1);
    }
  }
  &__item_stories_count {
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    display: flex;
    align-items: end;

    span {
      font-size: 12px;
      line-height: 10px;
      color: #757575;
      padding-left: 8px;
    }
  }
  &__item_imgs {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__imgs_box {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 166px;
    max-height: 166px;
    border-radius: 4px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-right: 2px solid rgb(255, 255, 255);
    img {
      width: 166px;
      height: 166px;
      object-fit: cover;
    }
  }
  &__imgs_box:nth-child(1) {
    left: -290px;
    z-index: 3;
  }
  &__imgs_box:nth-child(2) {
    left: -35px;
    z-index: 2;
  }
}

// MODAL PART
.lismodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffffff0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: -200;

  &__inner {
    position: relative;
    width: 100%;
    min-height: 550px;
    max-width: 900px;
    margin: 0 auto;
    padding: 18px;
    margin: 64px;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
  }
  &__remov_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 30px;
    background: transparent;
    color: #757575;
  }
  &__container {
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
    padding: 44px 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.014em;
    color: #292929;
    padding-bottom: 60px;
  }
  &__form {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
.lismodform__inp_check_box {
  width: 100%;
  height: 300px;
}
.lismodform__inp_box {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 4px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(204, 204, 204);

    &::placeholder {
      color: rgb(205, 204, 204);
    }
  }
  p {
    font-size: 15px;
    line-height: 20px;
    color: #757575;
    margin-top: 5px;
  }
}
.lismodform__adddesc_btn_box {
  text-align: left;

  textarea {
    width: 100%;
    max-height: 150px !important;
    height: auto !important;
    padding: 4px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    resize: none;

    &::placeholder {
      color: rgb(205, 204, 204);
    }
  }
  p {
    font-size: 15px;
    line-height: 20px;
    color: #757575;
    margin-top: 5px;
    text-align: right;
  }
}
.lismodform__adddesc_btn {
  font-size: 16px;
  line-height: 24px;
  color: rgba(26, 137, 23, 1);
  border: none;
  background: transparent;
  margin-bottom: 20px;
}
.lismodform__checkbox_box {
  display: flex;
  align-items: center;
  button {
    width: 20px;
    height: 20px;
    border: none;
    border: 1px solid #000;
    background: transparent;
    color: transparent;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    border-radius: 4px;
  }
  p {
    font-size: 15px;
    line-height: 22px;
    color: #292929;
    margin-left: 10px;
    font-weight: 600;
    cursor: pointer;
  }
}
.lismodform__cancel_btn,
.lismodform__create_btn {
  border: none;
  border-radius: 99em;
  background: transparent;
  transition: all 0.2s ease;
  border: 1px solid rgba(117, 117, 117, 1);
  color: rgba(41, 41, 41, 1);
  padding: 7px 16px;
  line-height: 20px;
  font-size: 14px;
  margin: 0 5px;

  &:hover {
    border: 1px solid rgba(41, 41, 41, 1);
  }
}
.lismodform__create_btn {
  color: #fff;
  background: rgb(26, 137, 23);
  border: 1px solid transparent;

  &:hover {
    background: rgb(15, 115, 12);
    border: 1px solid transparent;
  }
}
.checkBtn {
  color: #fff !important;
  background: rgb(15, 115, 12) !important;
}
.inpval {
  color: #d52d2d;
}
.disabled {
  opacity: 0.4;
  cursor: initial;
}
.modalOpen {
  opacity: 1;
  z-index: 200;
}
