@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
button {
  cursor: pointer;
}
Link,
a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1505px;
  margin: 0 auto;
  display: flex;
}
